*.mrt.bz2
*.gz
__pycache__
build
pygillstream.egg-info
c_mrt_parser/bgpgill
c_mrt_parser/*.o
c_mrt_parser/*.a
c_mrt_parser/*.so
c_mrt_parser/gillstream-config.*
c_mrt_parser/config.*
c_mrt_parser/configure
c_mrt_parser/Makefile
c_mrt_parser/autom4te.cache/*
c_mrt_parser/bgpgill.dSYM
c_mrt_parser/html
c_mrt_parser/latex
docs
